.btn {
  background: #1039e0;
  background-image: -webkit-linear-gradient(top, #1039e0, #2bb3b8);
  background-image: -moz-linear-gradient(top, #1039e0, #2bb3b8);
  background-image: -ms-linear-gradient(top, #1039e0, #2bb3b8);
  background-image: -o-linear-gradient(top, #1039e0, #2bb3b8);
  background-image: linear-gradient(to bottom, #1039e0, #2bb3b8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #e7f5f0;
  font-size: 30px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #42d934);
  background-image: -moz-linear-gradient(top, #3cb0fd, #42d934);
  background-image: -ms-linear-gradient(top, #3cb0fd, #42d934);
  background-image: -o-linear-gradient(top, #3cb0fd, #42d934);
  background-image: linear-gradient(to bottom, #3cb0fd, #42d934);
  text-decoration: none;
}

#container{
	background-image: url(imagens/campo.jpg);
	background-color: black;
	margin: 0px;
	
	font-family: 'Showcard Gothic';
}
#topo{
	float: top;
	height: 200px;
	max-width: 100%;
	font-size: 80px;
	text-align: center;
	color: #FAFAD2;
	padding-top: 30px;
}
#menu{
	float: top;
	text-align: center;
	padding-left: 130px;
	padding-top: 170px;
}
#meio{
	float: top;
	max-width: 100%;
	height: 170px;
}
#rodape{
	float: bottom;
	max-width: 100%;
	height: 50px;
	background-color: orange;
	text-align: center;
	color: white;
	font-size: 25px;
	padding-top: 5px;
}