.btn {
  background: #1039e0;
  background-image: -webkit-linear-gradient(top, #1039e0, #2bb3b8);
  background-image: -moz-linear-gradient(top, #1039e0, #2bb3b8);
  background-image: -ms-linear-gradient(top, #1039e0, #2bb3b8);
  background-image: -o-linear-gradient(top, #1039e0, #2bb3b8);
  background-image: linear-gradient(to bottom, #1039e0, #2bb3b8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #e7f5f0;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #42d934);
  background-image: -moz-linear-gradient(top, #3cb0fd, #42d934);
  background-image: -ms-linear-gradient(top, #3cb0fd, #42d934);
  background-image: -o-linear-gradient(top, #3cb0fd, #42d934);
  background-image: linear-gradient(to bottom, #3cb0fd, #42d934);
  text-decoration: none;
}
#container{
  background-image: url(images/campo.jpg);
  background-color: black;
  margin: 0px;
  max-width: 100%;
  font-family: 'Showcard Gothic';
  padding-top: 20px;
  color: #FAFAD2;
  text-align: center;
}
#titulo{
  font-size: 55px;
  padding-left: 20px;
  float: top;
}
#menu{
  background-image: url(images/campo.jpg);
  max-width: 100%;
  height: 85px;
  float: top;
}
#formulario{
  height: 520px;
  max-width: 100%;
  padding-top: -20px;
  margin-bottom: 20px;
}
#dados{
  border-radius: 30px;
  width: 500px;
  text-align: center;
  background-color: #009ACD;
  margin-left: 355px;
  text-align: left;
}
#rodape{
  float: bottom;
  max-width: 100%;
  height: 33px;
  background-color: orange;
  text-align: center;
  color: white;
  font-size: 25px;
  padding-top: 5px;
}